<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Educación Continua</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>


  <header>
    <div class = "container-fluid">
      <img src="/img/banner-2019-2.jpg" class="mx-auto d-block img-fluid" alt="Responsive image" >
      <h1>Bienvenido te estabamos esperando</h1>
    </div>

  </header>
