{{>header}}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="/" class="nav-link" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a href="/ver-cursos" class="nav-link" href="#">Cursos disponibles</a>
    </li>
    <li class="nav-item">
      <a href="/inscribir-curso" class="nav-link" href="#" >Inscribirse</a>
    </li>
    <li class="nav-item">
      <a href="/mis-cursos" class="nav-link" href="#">Mis cursos</a>
    </li>
    <li class="nav-item">
      <a href="/cerrar" class="nav-link" href="#">Cerrar sesión</a>
    </li>
  </ul>

</nav>

{{#if success}}
<p><div class="alert alert-success" role="alert"> {{success}}</div></p>
{{/if}}

{{#if error}}
<p><div class="alert alert-danger" role="alert"> {{error}}</div></p>
{{/if}}

<h1>Menú Aspirante</h1>

<div  class = "design" style="padding-left: 200px; padding-right:200px">
  <h2>Bienvenido <br> {{nombre}}</h2>
</div>



{{>footer}}
