{{>header}}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="/" class="nav-link" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a href="/ver-cursos" class="nav-link" href="#" >Ver cursos</a>
    </li>
    <li class="nav-item">
      <a href="/registrarse" class="nav-link" href="#">Registrarse</a>
    </li>
  </ul>

</nav>


<div class="design" style="text-align: center">
  <h2>CURSOS DISPONIBLES</h2>
  <p>Para iniciar sesión primero debes registrarte</p>
  {{{ver-cursos-disponibles cursos}}}
</div>




{{>footer}}
